<!-- header -->
<tr>
  <td valign="top" align="center">
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="15" style="font-size:1px; line-height:1px;">&nbsp;</td>
      </tr>
      <!-- currently disabled -->
      <!-- <tr>
        <td align="right" class="em_center" style="font-family:'Metric', Helvetica, Arial, sans-serif; font-size:11px; line-height:13px; color:#948E88;">
          <span style="text-decoration:underline;color:#948E88;">
            <a href="#" target="_blank" style="text-decoration:underline; color:#948E88;">View in browser</a>
          </span>
        </td>
      </tr> -->
      <tr>
        <td height="30" class="em_height">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top" align="center">
          <table width="285" align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top" align="center">
                <%= image_tag "header_logo_email.jpg", :width => "284", :height => "26", :alt => "HINTERLANDS", :style => "display:block; font-family:Arial, sans-serif; font-size:18px; line-height:20px; color:#6299b3; font-weight:bold; max-width:284px;", :border => "0" %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="40" class="em_height">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>