<tr>
  <td valign="top" style="background-color:#f8f8f8;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20" class="em_side">&nbsp;</td>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="30" class="em_height">&nbsp;</td>
            </tr>
            <tr>
              <td style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                <p style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                  User <%= link_to @user.display_name, admin_user_url(@user), :style => "color:#403c39;" %> stripe account following attributes are changed to false:
                </p>
                <ul style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                  <% @disabled_attributes.each do |attr| %>
                    <li><%= attr %></li>
                  <% end -%>
                </ul>
                <p style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                  Verification object:
                </p>
                <pre style="font-family:'Droid Serif', 'Times New Roman', Times, serif; font-size:14px; line-height:20px; color:#827c75;">
                  <%= @stripe_account.service_account.stripe_account.verification.inspect %>
                </pre>
              </td>
            </tr>
            <tr>
              <td height="30" class="em_height">&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="20" class="em_side">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>

