// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "select2.min";
@import "activeadmin_sortable_table";

$skinLogo: image-url("word_mark_logo.png") 15px 3px/ 130px 40px no-repeat;

$skinHeaderBck: #6299b3;
$skinActiveColor: #f8f8f8;
$skinHeaderTextColor: #f8f8f8;
$panelHeaderBck: #f8f8f8;

@import "active_skin";
@import "active_admin_pr_24";

.ui-sortable-handle {
  cursor: n-resize;
}

#adventure_image .col-image img {
  max-height: 100px;
}
